#root{
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tablero {
  width: 400px;
  height: 370px;
  box-sizing: border-box;
  padding: 22px 21px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: end !important;
  justify-items: center;
  overflow: hidden;
  gap: 5px;
  border: solid 1px black;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQBMKdW3xGpcAdPXokNKAzI2g9vD6-2rsMFON1VH_8bBlg0U91eO0961lICklcB9tcG9M&usqp=CAU);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.col {
  width: 40px;
  height: 100%;
  display: grid;
  box-sizing: border-box;
  grid-template-rows: repeat(8, 1fr);
  grid-auto-flow: row;
  margin: 0;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.ficha {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 50%;
}